<header class="main-header">
	<nav class="main-header__nav">
		<ul class="main-header__item-list">
			<li class="main-header__item">
				<a class="<%= path === '/shop/home' ? 'active' : '' %>" href="/">Home</a>
			</li>
			<li class="main-header__item">
				<a class="<%= path === '/shop/list-products' ? 'active' : '' %>" href="/all-products">All Products</a>
			</li>
			<li class="main-header__item">
				<a class="<%= path === '/shop/cart' ? 'active' : '' %>" href="/cart">Cart</a>
			</li>
			<li class="main-header__item">
				<a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Admin</a>
			</li>
		</ul>
	</nav>
</header>
